<p><%=@recipe.name%><br>
<%=@recipe.ingredients%><br>
<%=@recipe.cook_time%><br><br></p>
<form action="/recipes/<%=@recipe.id%>"method="POST">
<input type="hidden" name="_method" value="PATCH"/>
<label for="name">New Name:</label>
<input type="text" name="name" id="name"/>
<label for="ingredients">New Ingredients:</label>
<input type="text" name="ingredients" id="ingredients"/>
<label for="cook_time">New Cook Time:</label>
<input type="text" name="cook_time" id="cook_time"/>
<input type="submit" value="Update Recipe" id="submit"/>
</form>
