<h1>Create a new Recipe.</h1><br>
<form action="/recipes"method="POST">
<label for="recipe[name]">New Name:</label>
<input type="text" name="recipe[name]" id="name"/><br>
<label for="recipe[ingredients]">New Ingredients:</label>
<input type="text" name="recipe[ingredients]" id="ingredients"/><br>
<label for="recipe[cook_time]">New Cook Time:</label>
<input type="text" name="recipe[cook_time]" id="cook_time"/>
<input type="submit" value="New Recipe" id="submit"/><br><br>
</form>